body {
    background-color:  forestgreen;
    color:snow;
    text-align: center;  
}

.container {
    text-align: left;
    color: black;
    font-size: large;

}

.image-home {
    width: 200px;
    border: 1px solid black;
}

.first {
    bottom: 10px;
    width: 100%;
    position: absolute;
    color: azure;
}